body{
    font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
margin: 0;
}
h1{
    font-size:50px;
}
.red-color{
    color: red;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 15px;
    
}
.half-width img {
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,
    orange);
    font-weight: 700;
    color: white;
    padding: 3px 20px ;
    border-radius: 5px;
}
.banner{
    background-image:url(image/banner.webp);
}
.experience-area{
    background-image: url(image/k.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;  
}
#full-stack-developer{
    border-left: 5px solid coral;
}
#baby-developer{
    border-left: 5px solid blue;
}
footer{
    text-align: center;
}